<div class="container m-5">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">

        <div class="form-group row">
            <mat-form-field class="example-full-width">
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="" type="text" formControlName="titulo">
                <mat-error *ngIf="tituloField.hasError('required')">
                    Campo requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group row">
            <mat-form-field class="example-full-width">
                <mat-label>Descripcion</mat-label>
                <input matInput placeholder="" type="text" formControlName="descripcion">
                <mat-error *ngIf="descripcionField.hasError('required')">
                    Campo requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group row">
            <mat-form-field class="example-full-width">
                <mat-label>Precio</mat-label>
                <input matInput placeholder="" type="text" formControlName="price">
                <mat-error *ngIf="priceField.hasError('required')">
                    Campo requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group row">
            <mat-form-field class="example-full-width">
                <mat-label>Url imagen</mat-label>
                <input matInput placeholder="" type="text" formControlName="img">
                <mat-error *ngIf="imgField.hasError('required')">
                    Campo requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="example-button-row">
            <button mat-raised-button type="submit" class="button">Guardar</button>
        </div>
    </form>
</div>