<div class="body_comple">
    <div class="logo">
        <img src="./../../../assets/img/serempre.png" alt="">
    </div>
    <div class="columnas">
        <div class="col1">
            <div class="col1_contenedor">
                <div class="contenedor_imgu">
                    <img class="ima_zoom" #imagen [src]="imagenSelec" alt="">
                </div>
                <div class="contenedor_varios">
                    <div class="varios_indi" (click)="clickImage('1')" [class.selecionadoN]="'1' === selectedN" tabindex="1">
                        <img class="cursor" src="./../../../assets/img/Ima1.jpg" alt="">
                    </div>
                    <div class="varios_indi" (click)="clickImage('2')" [class.selecionadoN]="'2' === selectedN" tabindex="2">
                        <img src="./../../../assets/img/Ima2.jpg" alt="">
                    </div>
                    <div class="varios_indi" (click)="clickImage('3')" [class.selecionadoN]="'3' === selectedN" tabindex="3">
                        <img src="./../../../assets/img/Ima3.jpg" alt="">
                    </div>
                </div>
                <div class="contenedor_especi">
                    <div class="especi_produ">
                        <img src="./../../../assets/img/ctc.svg" alt="">
                        <p>Customizable Touch Controls</p>
                    </div>
                    <div class="especi_produ">
                        <img src="./../../../assets/img/biesvg.svg" alt="">
                        <p>Built-in Equalizer</p>
                    </div>
                    <div class="especi_produ">
                        <img src="./../../../assets/img/anc.svg" alt="">
                        <p>Active Noise Cancellation</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col2">
            <div class="title">
                <p class="title_p">
                    NEW RELEASE
                </p>
                <p class="title_t">
                    MOMENTUM True Wireless 2
                </p>
                <h4>
                    Earbuds that put sound first
                </h4>
            </div>

            <div class="price">
                <p>
                    STARTING AT
                </p>
                <h1>
                    $295.95
                </h1>
            </div>

            <div class="information">
                <a *ngFor="let dato of datos; let i = index" (click)="cambiotext(dato.id)" [class.selecionado]="dato.id === selectedA">
                {{dato.name}}
                </a>
            </div>

            <div class="contenido_inform">
                <p>
                    <app-texts [page]='pagina'></app-texts>
                </p>
            </div>

            <div class="choose">
                <p>Choose your finish</p>
            </div>
            <div class="theme">
                <div class="theme_color" (click)="themeColo('White')" [class.selecionadoT]="'White' === selectedTC" tabindex="4">
                    <p>Ivory White</p>
                    <div class="theme_conte">
                        <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True </p>
                    </div>
                </div>
                <div class="theme_color" (click)="themeColo('Black')" [class.selecionadoT]="'Black' === selectedTC" tabindex="5">
                    <p>Matte Black</p>
                    <div class="theme_conte">
                        <p>Of all of the celestial bodies that capture our attention and fascination as astronomers</p>
                    </div>
                </div>
            </div>

            <div class="elect">
                <p>Would you like to add extended warranty coverage?.</p>
            </div>
            <div class="elect_box">
                <div class="elect_color" *ngFor="let coverage of coverages" (click)="cambioCove(coverage.id)" [class.selectedCo]="coverage.id === selectedCove" tabindex="6">
                    <div class="elect_conte">
                        <p>{{coverage.text}}</p>
                        <p class="elect_conte_e">{{coverage.description}}</p>
                    </div>
                    <div class="elect_color_num">
                        <p *ngIf="coverage.extended !== null">+ {{coverage.extended | currency:'$':'symbol':'.0-0'}}</p>
                    </div>
                </div>
            </div>

            <div class="features">
                <p>Features.</p>
            </div>
            <div class="features_box">
                <div class="feature_box_conten" *ngFor="let feature of features" (click)="cambioFeatures(feature.id)" [class.selectedFe]="feature.id === selectedFeat" tabindex="7">
                    <div class="box_contend_fea">
                        <p>{{feature.text}}</p>
                    </div>
                    <div class="box_contend_fea">
                        <p *ngIf="feature.extended !== null">+ {{feature.extended | currency:'$':'symbol':'.0-0'}}</p>
                    </div>
                </div>
            </div>

            <div class="specifi">
                <p>Specifications.</p>
            </div>
            <div class="bloque_specifi">
                <div class="bloque_specifi_content" *ngFor="let specification of specifications">
                    <div class="content_title">
                        {{specification.attributo}}
                    </div>
                    <div class="content_especifi">
                        {{specification.detalle}}
                    </div>
                </div>
            </div>

            <div class="space">
            </div>
        </div>
    </div>
</div>



<div class="footer">
    <div class="footer_seccion">
        <div class="texto">

            <div class="bloque">
                Free Shiping
                <p>Get 2-day free shipping anywhere in North America</p>
            </div>
            <div class="bloque">
                2 years warranty
                <p>If anything goes wrong in the first two years, we'll replace it for free</p>
            </div>
        </div>

        <div class="button">
            <div class="bloque">
                <div class="bloque_price">${{precio_total}}</div>
                <p>Need financing? Learn more</p>
            </div>
            <div class="bloque">
                <a class="butt" (click)="comprar()" tabindex="8">Buy now</a>
            </div>
        </div>

    </div>
</div>