<div class="component">


    <section class="datos">
        <div class="logo">
            <img src="./../../../assets/img/shopopen.png" alt="" [routerLink]="'/board'">
        </div>
        <div class="caja">

            <div class="caja_text">
                <span class="caja_texto">Iniciar Sesión</span>
            </div>

            <div class="formulario">

                <form autocomplete="off" [formGroup]="form" (ngSubmit)="iniciar()">

                    <div class="form-group row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Usuario</mat-label>
                            <input matInput placeholder="" type="text" formControlName="user_mail">
                            <mat-error *ngIf="correoField.hasError('required')">
                                Campo requerido
                            </mat-error>
                            <mat-error *ngIf="correoField.hasError('pattern') && !correoField.hasError('required')">
                                Correo no válido
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Contraseña</mat-label>
                            <input matInput placeholder="" type="password" formControlName="user_password">
                            <mat-error *ngIf="passwordField.hasError('required')">
                                Campo requerido
                            </mat-error>
                            <mat-error *ngIf="passwordField.hasError('minlength') && !passwordField.hasError('required')">
                                La contaraseña debe tener más de 8 caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="example-button-row">
                        <button mat-raised-button type="submit" class="button">Iniciar</button>
                    </div>
                </form>

            </div>

            <div class="registrar">
                <span>No tengo cuenta <a [routerLink]="'/registrar'">Registrame</a></span>
            </div>

        </div>

    </section>

</div>