.component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.datos {
    padding: 20px;
    align-items: center;
    display: inline;
    justify-content: center;
}

.caja {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #007BFF;
    opacity: 1;
    width: 460px;
    height: 380px;
    padding: 15px;
}

.caja_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.caja_texto {
    font: normal normal bold 20px/23px Modern;
    color: #007BFF;
    opacity: 1;
}

.formulario {
    padding-top: 20px;
}

.form-group {
    justify-content: center;
}

mat-label {
    font: normal normal normal 14px/28px Avenir Next LT Pro;
    color: #9F9F9F;
}

.example-full-width {
    width: 60%;
}

.example-button-row {
    display: flex;
    justify-content: center;
}

.button {
    background: #007BFF 0% 0% no-repeat padding-box;
    color: white;
    outline: none;
}

.registrar {
    margin: 10px;
}

.registrar span {
    display: block;
    text-decoration: none;
    font: normal normal normal 12px/28px Avenir Next LT Pro;
    color: #4D4D4D;
    opacity: 1;
    position: relative;
    left: 6em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logo img {
    cursor: pointer;
    width: 80px;
    height: 80px;
}