<nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="'/admin'" class="nav-link">Home</a>
            </li>
        </ul>
    </div>

    <div class="cart">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="'/admin'" class="nav-link" (click)="logout()">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container m-5">
    <div>
        <button class="btn btn-primary" [routerLink]="['/producto', 1]">Crear Producto</button>
    </div>
    <div class="caja">
        <div class="caja">
            <table mat-table [dataSource]="productsArr" class="mat-elevation-z8 products-table">

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Producto </th>
                    <td mat-cell *matCellDef="let product"> {{product.titulo}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let product"> {{product.descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let product">
                        <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">Eliminar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>